<% if (createdCurrentUserClaimedCurrentUser.length > 0 || createdDifferentUserClaimedCurrentUser.length > 0) { %>
    <p class="textAlign">Task Claimed By You</p>
    <div class="stage3">
        <% createdCurrentUserClaimedCurrentUser.forEach(function(task) { %>
            <form action="/abandonorcomplete" method="post" class="individualTaskForm">
                <div class="abandonContainer">
                    <input type="hidden" value="<%= task.id %>" name="taskId" />
                    <input type="checkbox" class="checkBox" name="checkboxState" />
                    <span class="inputBox"><%= task.taskText %></span>
                    <button type="submit" class="abandonButton button">Abandon</button>
                </div>
            </form>
        <% }); %>

        <% createdDifferentUserClaimedCurrentUser.forEach(function(task) { %>
            <form action="/abandonorcomplete" method="post" class="individualTaskForm">
                <div class="abandonContainer">
                    <input type="hidden" value="<%= task.id %>" name="taskId" />
                    <input type="checkbox" class="checkBox" name="checkboxState" />
                    <span class="inputBox"><%= task.taskText %></span>
                    <button type="submit" class="abandonButton button">Abandon</button>
                </div>
            </form>
        <% }); %>
    </div>
<% } %>

<% if (createdDifferentUserClaimedDifferentUser.length > 0 || createdCurrentUserClaimedDifferentUser.length > 0) { %>
    <p class="textAlign">Task Claimed By Different Users</p>
    <div class="stage3">
        <% createdDifferentUserClaimedDifferentUser.forEach(function(task) { %>
            <form action="/abandonorcomplete" method="post" class="individualTaskForm">
                <div class="abandonContainer">
                    <input type="hidden" value="<%= task.id %>" name="taskId" />
                    <input type="checkbox" class="checkBox" name="checkboxState" />
                    <span class="inputBox"><%= task.taskText %></span>
                    <button type="submit" class="abandonButton button">Abandon</button>
                </div>
            </form>
        <% }); %>

        <% createdCurrentUserClaimedDifferentUser.forEach(function(task) { %>
            <form action="/abandonorcomplete" method="post" class="individualTaskForm">
                <div class="abandonContainer">
                    <input type="hidden" value="<%= task.id %>" name="taskId" />
                    <input type="checkbox" class="checkBox" name="checkboxState" />
                    <span class="inputBox"><%= task.taskText %></span>
                    <button type="submit" class="abandonButton button">Abandon</button>
                </div>
            </form>
        <% }); %>
    </div>
<% } %>
