<% if (createdCurrentUserFinishedCurrentUser.length > 0 || createdDifferentUserFinishedCurrentUser.length > 0) { %>
    <p class="textAlign">Tasks Completed by You</p>
    <div class="stage4">
        <% createdCurrentUserFinishedCurrentUser.forEach(function(task) { %>
            <form action="/unfinish" method="post">
                <div class="completeContainer">
                    <input type="hidden" value="<%= task.id %>" name="taskId" />
                    <input type="checkbox" class="checkBox" checked />
                    <span class="inputBox"><s><%= task.taskText %></s></span>
                </div>
            </form>
        <% }); %>

        <% createdDifferentUserFinishedCurrentUser.forEach(function(task) { %>
            <form action="/unfinish" method="post">
                <div class="completeContainer">
                    <input type="hidden" value="<%= task.id %>" name="taskId" />
                    <input type="checkbox" class="checkBox" checked />
                    <span class="inputBox"><s><%= task.taskText %></s></span>
                </div>
            </form>
        <% }); %>  
    </div>
<% } %>

<% if (createdDifferentUserFinishedDifferentUser.length > 0 || createdCurrentUserFinishedDifferentUser.length > 0) { %>
    <p class="textAlign">Tasks Completed by Different Users</p>
    <div class="stage4">
        <% createdDifferentUserFinishedDifferentUser.forEach(function(task) { %>
            <form action="/unfinish" method="post">
                <div class="completeContainer">
                    <input type="hidden" value="<%= task.id %>" name="taskId" />
                    <input type="checkbox" class="checkBox" checked />
                    <span class="inputBox"><s><%= task.taskText %></s></span>
                </div>
            </form>
        <% }); %>

        <% createdCurrentUserFinishedDifferentUser.forEach(function(task) { %>
            <form action="/unfinish" method="post">
                <div class="completeContainer">
                    <input type="hidden" value="<%= task.id %>" name="taskId" />
                    <input type="checkbox" class="checkBox" checked />
                    <span class="inputBox"><s><%= task.taskText %></s></span>
                </div>
            </form>
        <% }); %>
    </div>
<% } %>
