<%- include("components/header.ejs") -%>
</head>
<body>
    <h1 class="font">To Do List</h1>
    <%- include("components/usernameRender.ejs") -%>
    <div class="mainContainer">
        <%- include("components/addTask.ejs") -%>
        <%- include("components/claimTask.ejs") -%>
        <%- include("components/abandonTask.ejs") -%>
        <%- include("components/completeTask.ejs") -%>
        <%- include("components/removeCompleteButton.ejs") -%>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../js/todo.js"></script>
</body>
</html>
